<div class="jumbotron">
  <h1>{{post.title}}</h1>
  <p>{{post.content}}</p>
  <p class="metablog">written by {{post-property-author post.author}} at {{post.date}}</p>
  <p class="metablog">
  {{#each post.tags as |tag|}}
    <span class="label label-success">{{tag.name}}</span>
  {{/each}}
  </p>
</div>
